---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");

  return allPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;

const { Content } = await render(post);
---

<Layout>
  <div class="p-5">
    <a class="text-sm italic text-violet-400" href="/posts"
      >{"←"} Volver<br /></a
    >
    <article class="flex flex-col gap-5" data-pagefind-body>
      <!-- Exposes title to result.meta.title -->
      <h1 data-pagefind-meta="title">{post.data.title}</h1>

      <!-- Exposes category as a filterable field -->
      <p data-pagefind-filter="category">{post.data.category}</p>
      <Content />
    </article>
  </div>
</Layout>
