---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <div class="p-5">
    <a href="/posts">ir a posts</a>
    <p class="inline-flex items-center gap-1">
      testing
      <span class="icon-[lucide--angry] text-violet-500 size-40 animate-bounce"
      ></span>
      <span class="icon-[lucide--angry] text-violet-500 text-2xl animate-ping"
      ></span>
      <span class="icon-[lucide--angry] text-violet-500 text-2xl animate-pulse"
      ></span>
      <span
        class="icon-[mdi--instagram] text-violet-500 text-2xl animate-bounce"
      ></span>
      <p
        class="before:icon-[mdi--instagram] before:relative before:top-0.75 before:text-violet-400 text-xl before:size-5"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
        cupiditate quia laudantium harum corporis in corrupti itaque fugiat quos
        vitae beatae ullam voluptate, est error iste inventore tempore,
        explicabo porro qui fugit voluptas impedit doloremque. Nihil odio modi
        alias eveniet accusamus deserunt minus, est sunt quisquam! Harum eum
        tempore eos.
      </p>
    </p>
  </div>
</Layout>
